@use "../config";

.logContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: config.$orange;
}

hr {
  margin-top: 1px;
  border: 1px solid lighten(config.$primary, 10%);
  border-radius: 25px;
}

.logCard {
  background-color: lighten(config.$primary, 5%);
  border-radius: 25px;
  width: 85%;
  padding: 0px 15px 20px 15px;

  .topSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: config.$white;

    .totalTime {
      font-size: 1.125rem;
    }
  }

  .bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .newButton,
    .editButton {
      border: none;
      border-radius: 25px;
      color: config.$white;
      transition: 0.3s ease-in-out;
      font-size: 1.125rem;
      padding: 2px 15px 2px 15px;
    }

    .newButton {
      background-color: config.$green;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
        background-color: darken(config.$green, 10%);
      }
    }

    .editButton {
      background-color: lighten(config.$primary, 15%);
      margin-top: 10px;

      &:hover {
        cursor: pointer;
        background-color: lighten(config.$primary, 10%);
      }
    }
  }

  .emptyLog {
    font-weight: 600;
    color: config.$orange;
    text-align: center;
  }
}

.paginationButtons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  color: config.$white;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.paginationActive {
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .logCard {
    width: 50%;

    .mainHeading {
      font-size: 3rem;
    }

    .totalTime,
    .newButton,
    .editButton {
      font-size: 1.5rem !important;
    }
  }

  .paginationButtons {
    font-size: 1.125rem;
  }
}
