@use "../config";

.deleteButton {
  color: config.$red;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    color: darken(config.$red, 5%);
  }
}

@media screen and (min-width: 1000px) {
  .deleteButton {
    font-size: 1.125rem;
  }
}
