@use "../config";

.buttonContainer {
  margin-top: 15px;
}

.saveButton {
  border: none;
  background-color: config.$orange;
  color: config.$white;
  border-radius: 25px;
  padding: 1px 15px 1px 15px;

  &:hover {
    cursor: pointer;
    background-color: darken(config.$orange, 5%);
  }
}

@media screen and (min-width: 1000px) {
  .saveButton {
    font-size: 1.5rem;
  }
}
