@use "../config";

.taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  .task {
    margin-left: 10px;
    color: config.$white;
  }

  .time {
    margin-right: 10px;
    color: config.$orange;
  }
}

@media screen and (min-width: 1000px) {
  .taskContainer {
    font-size: 1.125rem;
  }
}
